@font-face {
    font-family: Roboto, sans-serif;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Roboto, sans-serif;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

:root {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: #cacaca;
    background-color: #08020d;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 414px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
    }
    h2 {
        font-size: 18px;
        line-height: 27px;
    }
}