@font-face {
    font-family: Roboto, sans-serif;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto, sans-serif;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

:root {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: #cacaca;
    background-color: #08020d;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 414px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
    }
    h2 {
        font-size: 18px;
        line-height: 27px;
    }
}

p {
    font-size: 16px;
  }
  
  /* First Section */
  .margin13 {
    margin-top: 13px;
  }
  
  header {
    background: url(images/banner.png) lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav {
    padding: 25px 121px 0 119px;
  }
  
  .margin155 {
    margin-top: 155px;
  }
  
  .imagelogo {
    width: 24px;
    height: 24px;
  }
  
  .margin31 {
    margin-top: 31px;
  }
  
  .margin17 {
    margin-top: 17px;
  }
  
  .flex1 {
    display: flex;
  }
  
  .input {
    background: transparent;
    width: 273px;
    height: 50px;
    border: 1px solid var(--white);
    box-sizing: border-box;
    font-size: 14px;
    padding: 16px 0 18px 22.24px;
  }
  
  .button3 {
    width: 570px;
    height: 57px;
    background-color: #34c176;
    color: #ffffff;
    font-size: 13.3px;
    text-transform: uppercase;
    border: #34c176;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 200px;
  }
  
  .columns3 {
    column-count: 2;
    column-gap: 24px;
  }
  
  .a {
    text-decoration: none;
    color: #cacaca;
    text-transform: uppercase;
    font-size: 11px;
  }
  
  .logo {
    width: 24px;
    height: 24px;
  }
  
  .search {
    background: transparent;
    background-color: #3c3b3d;
    border-radius: 50px;
    width: 248px;
    height: 25px;
    border: none;
    padding: 5px 0 5px 10px;
    box-sizing: border-box;
    font-size: 13.3px;
  }
  
  .flex4 {
    display: flex;
    align-items: center;
  }
  
  .mb {
    width: 58px;
    height: 17px;
    text-transform: uppercase;
    font-size: 11px;
    color: var(--white);
    margin-left: 16px;
    margin-right: 90px;
  }
  
  .flexspan {
    display: flex;
    align-items: center;
  }
  
  .margin451 {
    margin-right: 451px;
  }
  
  .colorfff {
    color: #ffffff;
  }
  
  @media (max-width: 414px) {
    .flex1 {
      display: flex;
      flex-direction: column;
    }
    .flex4 {
      display: flex;
      align-items: stretch;
      flex-direction: column;
    }
    nav {
      padding: 27px 20px 0 20px;
    }
    .margin155 {
      margin-top: 78px;
    }
    .button3 {
      width: 374px;
      height: 57px;
      background-color: #34c176;
      color: #ffffff;
      font-size: 13.3px;
      text-transform: uppercase;
      border: #34c176;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 0;
      margin-bottom: 200px;
    }
    .form {
      margin-top: 24px;
    }
    .input {
      width: 374px;
      height: 50px;
    }
    .margin31 {
      margin-top: 16px;
    }
    .margin451 {
      margin-bottom: 18px;
    }
    .flexspan {
      margin-bottom: 17px;
    }
    .search {
      width: 374px;
    }
  }
  
  /*Pricing Section*/
  
  .card {
    display: flex;
    flex-direction: column;
    width: 368.197px;
    height: 615px;
    align-items: center;
  }
  
  .flex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .margin200 {
    margin-bottom: 200px;
  }
  
  .background1 {
    background-image: url(images/subscribe_1.png);
    background-repeat: no-repeat;
    background-size: 368.197px;
  }
  
  .background2 {
    background-image: url(images/subscribe_2.png);
    background-repeat: no-repeat;
    background-size: 368.197px;
  }
  
  .background3 {
    background-image: url(images/subscribe_3.png);
    background-repeat: no-repeat;
    background-size: 368.197px;
  }
  
  .margin45 {
    margin-bottom: 45px;
  }
  
  .margin3 {
    margin-left: 122px;
    margin-right: 118.08px;
  }
  
  .text {
    text-align: center;
  }
  
  .button1 {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid var(--white);
    border-radius: 5px;
    width: 318.66px;
    height: 66px;
    color: var(--white);
    text-transform: uppercase;
    font-size: 16px;
  }
  
  .fs24 {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--white);
  }
  
  .margin47 {
    margin-top: 47px;
  }
  
  .fs128 {
    font-size: 12.8px;
  }
  
  .fs64 {
    font-size: 64px;
    color: var(--white);
  }
  
  .fs32 {
    font-size: 32px;
    color: var(--white);
    text-transform: uppercase;
  }
  
  .fs16 {
    font-size: 16px;
  }
  
  .flex5 {
    display: flex;
    height: 64px;
  }
  
  .flex0 {
    align-self: center;
  }
  
  .flexrub {
    align-self: flex-start;
  }
  
  @media (max-width: 414px) {
    .flex2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .card {
      display: flex;
      flex-direction: column;
      width: 374px;
      height: 598px;
      align-items: center;
    }
    .margin50 {
      margin-bottom: 50px;
    }
    .margin47 {
      margin: 40px 20px 1px 20px;
    }
    .margin3 {
      margin: 46px 18px 0 22px;
    }
    .margin200 {
      margin-bottom: 203px;
    }
  
  }
  /*Pricing Section*/
  
  /*News section*/
  .columns {
    height: 286px;
    column-count: 2;
    column-gap: 50px;
  }
  
  .flex3 {
    display: flex;
    align-items: center;
    height: 19px;
  }
  
  .margin16 {
    margin-right: 16px;
  }
  
  .margin16r {
    margin-right: 16px;
  }
  
  .margin4 {
    margin: 48px 120px 65px 120px;
  }
  
  .margin83 {
    margin-top: 83px;
  }
  
  .margin5 {
    margin: 0 120px 0 120px;
  }
  
  .button2 {
    width: 135px;
    height: 53px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    background-color: transparent;
    color: #cacaca;
  }
  
  .columns2 {
    column-count: 2;
    column-gap: 50px;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .image1 {
    width: 575px;
    height: 286px;
  }
  
  .image2 {
    width: 575px;
    height: 286px;
  }
  
  .fs30 {
    font-size: 30px;
    text-transform: capitalize;
    color: #ffffff;
  }
  
  .mborange {
    font-size: 12px;
    color: #f89202;
    text-transform: uppercase;
  }
  
  .margin48 {
    margin-bottom: 48px;
  }
  
  .fs12 {
    font-size: 12px;
  }
  
  @media (max-width: 414px) {
    .columns {
      width: 374px;
      height: 492px;
      display: flex;
      flex-direction: column;
    }
    .columns2 {
      width: 376px;
      height: 485px;
      display: flex;
      flex-direction: column;
    }
  
    .image1 {
      width: 374px;
      height: 186px;
    }
    .image2 {
      width: 376px;
      height: 187px;
    }
    .margin5 {
      margin: 64px 20px 0 18px;
    }
    .margin4 {
      margin: 48px 20px 64px 20px;
    }
    .margin83 {
      margin-top: 99px;
      margin-bottom: 0;
    }
  }
  
  /*App section*/
  
  .grid {
    display: grid;
    grid-template-columns: repeat(60, 24px);
    grid-template-rows: 100px 57px 48px 16px 112px 16px 53px 181px;
  }
  
  .grid-p {
    grid-column: 6/31;
    grid-row: 5/6;
  }
  
  .grid-button {
    grid-column: 6/12;
    grid-row: 7/8;
  }
  
  .grid-img {
    grid-column: 37/-1;
    grid-row: 4/-1;
  }
  
  .grid-h {
    grid-column: 20/-1;
    grid-row: 2/3;
  }
  
  .button4 {
    background-color: var(--red);
    width: 131px;
    height: 53px;
    border-radius: 32px;
    border: none;
    color: var(--white);
  }
  
  @media (max-width: 414px) {
    .grid {
      display: flex;
      flex-direction: column;
      margin: 101px 20px 100px 20px;
    }
    .grid-h {
      margin-bottom: 48px;
      text-align: center;
    }
    .grid-img {
      order: 1;
      width: 333px;
      height: 278px;
      margin-bottom: 16px;
      margin-left: 20px;
    }
    .grid-p {
      order: 2;
    }
    .grid-button {
      order: 3;
    }
    .grid-p {
      margin-bottom: 15px;
    }
  }
  
  /*Footer section*/
  
  .flex6 {
    display: flex;
  }
  
  .flex7 {
    display: flex;
    flex-direction: column;
  }
  
  .a1 {
    text-decoration: none;
    color: #e0e0e0;
  }
  
  .background4 {
    background: linear-gradient(220deg, #95390c 8.48%, #5328a1 72.24%);
  }
  
  .padding62 {
    padding-top: 62px;
  }
  
  .margin15 {
    margin-bottom: 15px;
  }
  
  .margin120 {
    margin-left: 120px;
  }
  
  .width270 {
    width: 270px;
  }
  
  .margin40 {
    margin-left: 40px;
  }
  
  .colorffffff {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .margin72 {
    margin-bottom: 72px;
  }
  
  .border {
    border: 1px solid #cacaca;
  }
  
  .flex8 {
    display: flex;
    margin: 40px 0 0 120px;
    padding-bottom: 49px;
  }
  
  @media (max-width: 414px) {
    .flex6 {
      display: flex;
      flex-direction: column;
    }
    .margin120 {
      margin-left: 20px;
      margin-bottom: 30px;
    }
    .margin40 {
      margin-left: 20px;
      margin-bottom: 30px;
    }
    .margin15 {
      margin-bottom: 16px;
    }
    .flex8 {
      display: flex;
      flex-direction: column;
      margin: 40px 0 0 20px;
      padding-bottom: 49px;
    }
    .margin16 {
      margin-bottom: 16px;
    }
  }
  
  /* Artist page*/
  .background5 {
    background: url(images/Morten\ Harket.png) lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .button5 {
    width: 200px;
    height: 62px;
    border-radius: 5px;
    background: var(--purple);
    border: none;
    font-size: 12.8px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 21px 96px 22px 67px;
    text-transform: uppercase;
  }
  
  .button6 {
    width: 200px;
    height: 62px;
    border-radius: 5px;
    background: var(--red);
    border: none;
    font-size: 12.8px;
    color: #ffffff;
    margin-bottom: 223px;
    box-sizing: border-box;
    padding: 21px 47px 22px 62px;
    text-transform: uppercase;
  }
  
  .margin8 {
    margin: 207px 0 16px 120px;
  }
  
  .margin9 {
    margin: 0 0 48px 120px;
  }
  
  .play {
    height: 20px;
    position: absolute;
    top: 453px;
    left: 158px;
  }
  
  .heart {
    height: 20px;
    position: absolute;
    top: 453px;
    left: 375px;
  }
  
  @media (max-width: 414px) {
    .background5 {
      background: url(images/Morten\ Harket.png) lightgray 50%;
      background-repeat: no-repeat;
      background-size: cover;
      width: 414px;
      height: 730px; 
    }
    .margin8 {
      margin: 55px 0 16px 20px;
    }
    .margin9 {
      margin: 0 0 48px 20px;
    }
    .button6 {
      margin-left: 20px;
      margin-bottom: 224px;
    }
    .button5 {
      margin-bottom: 24px;
    }
    .play {
      top: 384px;
      left: 51px;
    }
    
    .heart {
      top: 470px;
      left: 51px;
    }
  }
  
  /*Popular section*/
  
  .icons {
    width: 55px;
    height: 55px;
  }
  
  .flex9 {
    display: flex;
    align-items: center;
  }
  
  .flex10 {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 49px;
  }
  
  .margin11 {
    margin: 0 306px 0 15px;
    height: 19px;
    width: 166px;
  }
  
  .margin100 {
    margin-top: 100px;
  }
  
  .texttransform {
    text-transform: uppercase;
  }
  
  .colore0e0e0 {
    color: #e0e0e0;
  }
  
  .margin120r {
    margin-right: 120px;
  }
  
  .flex11 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .margin18 {
    margin-top: 18px;
  }
  
  @media (max-width: 414px) {
    .margin11 {
      margin: 0 148px 0 15px;
      height: 19px;
      width: 125px;
    }
    .flex10 {
      display: flex;
      flex-wrap: wrap;
      gap: 25px 0;
      margin-right: 20px;
    }
    .images {
      height: 137px;
      width: 137px;
    }
    .margin120r {
      margin-right: 20px;
    }
  }
  
  .textnone {
    text-transform: none;
  }
  
  
  /*Similiar section*/
  
  .grid1 {
    display: grid;
    grid-template-columns: 70px 250px 250px 250px 250px;
    grid-template-rows: 319px 344px;
    gap: 25px 50px;
  }
  
  .grid1-1item {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  .grid1-2item {
    grid-column: 3/4;
  }
  
  .grid1-3item {
    grid-column: 4/5;
  }
  
  .grid1-4item {
    grid-column: 5/6;
  }
  
  .grid1-5item {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .grid1-6item {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  
  .grid1-7item {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  
  .grid1-8item {
    grid-column: 5/6;
    grid-row: 2/3;
  }
  
  .margin12 {
    margin-top: 17px;
    margin-bottom: 1px;
  }
  
  .margin100b {
    margin-bottom: 100px;
  }
  
  @media (max-width: 414px) {
    .grid1 {
      display: grid;
      grid-template-columns: 20px 137px 50px 137px;
      grid-template-rows: 230px 230px 230px 230px;
      gap: 25px 0;
    }
    .images {
      height: 137px;
      width: 137px;
    }
    .grid1-1item {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    
    .grid1-2item {
      grid-column: 4/5;
      grid-row: 1/2;
    }
    
    .grid1-3item {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    
    .grid1-4item {
      grid-column: 4/5;
      grid-row: 2/3;
    }
    
    .grid1-5item {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    
    .grid1-6item {
      grid-column: 4/5;
      grid-row: 3/4;
    }
    
    .grid1-7item {
      grid-column: 2/3;
      grid-row: 4/5;
    }
    
    .grid1-8item {
      grid-column: 4/5;
      grid-row: 4/5;
    }
    
    .margin12 {
      margin-top: 17px;
      margin-bottom: 1px;
    }
    
    .margin100b {
      margin-bottom: 100px;
    }
  }
  
  .mt-0 {
    margin-top: 0;
  }
  
  .mt-16px {
    margin-top: 16px;
  }
  
  .mt-17px {
    margin-top: 17px;
  }
  
  .mt-18px {
    margin-top: 18px;
  }
  
  .mt-24px {
    margin-top: 24px;
  }
  
  .mt-31px {
    margin-top: 31px;
  }
  
  .mt-40px {
    margin-top: 40px;
  }
  
  .mt-47px {
    margin-top: 47px;
  }
  
  .mt-48px {
    margin-top: 48px;
  }
  
  .mt-62px {
    margin-top: 62px;
  }
  
  .mt-72px {
    margin-top: 72px;
  }
  
  .mt-78px {
    margin-top: 78px;
  }
  
  .mt-83px {
    margin-top: 83px;
  }
  
  .mt-99px {
    margin-top: 99px;
  }
  
  .mt-100px {
    margin-top: 100px;
  }
  
  .mt-101px {
    margin-top: 101px;
  }
  
  .mt-155px {
    margin-top: 155px;
  }
  
  .ml-20px {
    margin-left: 20px;
  }
  
  .ml-24px {
    margin-left: 24px;
  }
  
  .ml-40px {
    margin-left: 40px;
  }
  
  .ml-120px {
    margin-left: 120px;
  }
  
  .ml-122px {
    margin-left: 122px;
  }
  
  .mr-16px {
    margin-right: 16px;
  }
  
  .mr-24px {
    margin-right: 24px;
  }
  
  .mr-120px {
    margin-right: 120px;
  }
  
  .mr-451px {
    margin-right: 451px;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .mb-1px {
    margin-bottom: 1px;
  }
  
  .mb-15px {
    margin-bottom: 15px;
  }
  
  .mb-17px {
    margin-bottom: 17px;
  }
  
  .mb-18px {
    margin-bottom: 18px;
  }
  
  .mb-24px {
    margin-bottom: 24px;
  }
  
  .mb-45px {
    margin-bottom: 45px;
  }
  
  .mb-48px {
    margin-bottom: 48px;
  }
  
  .mb-50px {
    margin-bottom: 50px;
  }
  
  .mb-64px {
    margin-bottom: 64px;
  }
  
  .mb-100px {
    margin-bottom: 100px;
  }
  
  .mb-200px {
    margin-bottom: 200px;
  }
  
  .mb-203px {
    margin-bottom: 203px;
  }
  
  .mb-224px {
    margin-bottom: 224px;
  }
  
  @media (max-width: 414px) {
    .mb-0 {
      margin-bottom: 0;
    }
  }
  @media (max-width: 414px) {
    .mb-1px {
      margin-bottom: 1px;
    }
  }
  @media (max-width: 414px) {
    .mb-15px {
      margin-bottom: 15px;
    }
  }
  @media (max-width: 414px) {
    .mb-17px {
      margin-bottom: 17px;
    }
  }
  @media (max-width: 414px) {
    .mb-18px {
      margin-bottom: 18px;
    }
  }
  @media (max-width: 414px) {
    .mb-24px {
      margin-bottom: 24px;
    }
  }
  @media (max-width: 414px) {
    .mb-45px {
      margin-bottom: 45px;
    }
  }
  @media (max-width: 414px) {
    .mb-48px {
      margin-bottom: 48px;
    }
  }
  @media (max-width: 414px) {
    .mb-50px {
      margin-bottom: 50px;
    }
  }
  @media (max-width: 414px) {
    .mb-64px {
      margin-bottom: 64px;
    }
  }
  @media (max-width: 414px) {
    .mb-100px {
      margin-bottom: 100px;
    }
  }
  @media (max-width: 414px) {
    .mb-200px {
      margin-bottom: 200px;
    }
  }
  @media (max-width: 414px) {
    .mb-203px {
      margin-bottom: 203px;
    }
  }
  @media (max-width: 414px) {
    .mb-224px {
      margin-bottom: 224px;
    }
  }