@import url(../css/style.css);
.mt-0 {
  margin-top: 0;
}

.mt-16px {
  margin-top: 16px;
}

.mt-17px {
  margin-top: 17px;
}

.mt-18px {
  margin-top: 18px;
}

.mt-24px {
  margin-top: 24px;
}

.mt-31px {
  margin-top: 31px;
}

.mt-40px {
  margin-top: 40px;
}

.mt-47px {
  margin-top: 47px;
}

.mt-48px {
  margin-top: 48px;
}

.mt-62px {
  margin-top: 62px;
}

.mt-72px {
  margin-top: 72px;
}

.mt-78px {
  margin-top: 78px;
}

.mt-83px {
  margin-top: 83px;
}

.mt-99px {
  margin-top: 99px;
}

.mt-100px {
  margin-top: 100px;
}

.mt-101px {
  margin-top: 101px;
}

.mt-155px {
  margin-top: 155px;
}

.ml-20px {
  margin-left: 20px;
}

.ml-24px {
  margin-left: 24px;
}

.ml-40px {
  margin-left: 40px;
}

.ml-120px {
  margin-left: 120px;
}

.ml-122px {
  margin-left: 122px;
}

.mr-16px {
  margin-right: 16px;
}

.mr-24px {
  margin-right: 24px;
}

.mr-120px {
  margin-right: 120px;
}

.mr-451px {
  margin-right: 451px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1px {
  margin-bottom: 1px;
}

.mb-15px {
  margin-bottom: 15px;
}

.mb-17px {
  margin-bottom: 17px;
}

.mb-18px {
  margin-bottom: 18px;
}

.mb-24px {
  margin-bottom: 24px;
}

.mb-45px {
  margin-bottom: 45px;
}

.mb-48px {
  margin-bottom: 48px;
}

.mb-50px {
  margin-bottom: 50px;
}

.mb-64px {
  margin-bottom: 64px;
}

.mb-100px {
  margin-bottom: 100px;
}

.mb-200px {
  margin-bottom: 200px;
}

.mb-203px {
  margin-bottom: 203px;
}

.mb-224px {
  margin-bottom: 224px;
}

@media (max-width: 414px) {
  .mb-0 {
    margin-bottom: 0;
  }
}
@media (max-width: 414px) {
  .mb-1px {
    margin-bottom: 1px;
  }
}
@media (max-width: 414px) {
  .mb-15px {
    margin-bottom: 15px;
  }
}
@media (max-width: 414px) {
  .mb-17px {
    margin-bottom: 17px;
  }
}
@media (max-width: 414px) {
  .mb-18px {
    margin-bottom: 18px;
  }
}
@media (max-width: 414px) {
  .mb-24px {
    margin-bottom: 24px;
  }
}
@media (max-width: 414px) {
  .mb-45px {
    margin-bottom: 45px;
  }
}
@media (max-width: 414px) {
  .mb-48px {
    margin-bottom: 48px;
  }
}
@media (max-width: 414px) {
  .mb-50px {
    margin-bottom: 50px;
  }
}
@media (max-width: 414px) {
  .mb-64px {
    margin-bottom: 64px;
  }
}
@media (max-width: 414px) {
  .mb-100px {
    margin-bottom: 100px;
  }
}
@media (max-width: 414px) {
  .mb-200px {
    margin-bottom: 200px;
  }
}
@media (max-width: 414px) {
  .mb-203px {
    margin-bottom: 203px;
  }
}
@media (max-width: 414px) {
  .mb-224px {
    margin-bottom: 224px;
  }
}
